////////////////////////////////////////////////////////////////////////////////
// Global
////////////////////////////////////////////////////////////////////////////////

$black: #17171F;
$yellow: #E5C65C;
$green: #84D59C;
$grey: #908E8C;
$blue: dodgerblue;
$red: coral;
$white: #FBFBFD;
$beige: #FFF1D9;

html, body, .page-content {
  background-color: $black;
  color: $white;
}
