////////////////////////////////////////////////////////////////////////////////
// Global
////////////////////////////////////////////////////////////////////////////////

$black: #17171F;
$yellow: #E5C65C;
$green: #84D59C;
$grey: #908E8C;
$blue: dodgerblue;
$red: coral;
$white: #FBFBFD;
$beige: #FFF1D9;

html, body, .banner, .page-content {
  background-color: $black;
  color: $white;
  padding: 0 0;
  margin: 0 0;
  overflow: scroll;
}

.link {
  background-color: $black;
}

#error_explanation {
  color: black;
}

#notice {
  background-color: $black;
  margin: 0 0;
  font-size: 16px;
  color: $yellow;
}
