////////////////////////////////////////////////////////////////////////////////
// Receipt Email
////////////////////////////////////////////////////////////////////////////////
@import "global";


.receipt-email {
  display: block;
  position: relative;
  background-color: $black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 700px;
  height: 700px;
  .header {
    font-size: 20px;
    font-weight: bold;
    color: $yellow;
  }
}

.filter-toggle {
  display: inline-block;
  z-index: 5;
  $width: 40px;
  $height: 20px;
  margin-left: 1em;

  .switch {
    position: relative;
    display: inline-block;
    width: $width;
    height: $height;
    background-color: $grey;
    border-radius: $height;

    &::after {
      content: '';
      position: absolute;
      width: $height - 2px;
      height: $height - 2px;
      border-radius: 50%;
      background-color: white;
      top: 1px;
      left: 1px;
      transition: all 0.3s;
    }
  }

  .checkbox:checked + .switch::after {
    left: $width - $height;
  }

  .checkbox:checked + .switch {
    background-color: $blue;
  }

  .checkbox {
    display: none;
  }
}

.card {

}