////////////////////////////////////////////////////////////////////////////////
// Receipt Email
////////////////////////////////////////////////////////////////////////////////
@import "global";


.receipt-email {
  display: block;
  position: relative;
  background-color: $black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 700px;
  height: 700px;
  .header {
    font-size: 20px;
    font-weight: bold;
    color: $yellow;
  }
}